#navs {
    position: fixed;
    left: 150px;
    bottom: 150px;
    width: 0px;
    height: 0px;
    line-height: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 99999;
}

    #navs > li,
    #navs:after {
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        /*    background-color: #e74c3c;*/
        background: white;
        border: 1px solid #4ea9ff;
        -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
        box-shadow: 0 2px 20px 2px #4ea9ff;
    }

    #navs > li {
        transition: all .6s;
        -webkit-transition: all .6s;
        -moz-transition: .6s;
    }

    #navs:after {
        content: attr(data-close);
        z-index: 1;
        border-radius: 50%;
        -webkit-border-radius: 50%;
    }

    #navs.active:after {
        content: attr(data-open);
    }

    #navs a {
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        text-decoration: none;
        color: #000;
        font-size: 1em;
    }
